 body {
   background-color: rgba(0, 0, 0, 0.683);
   background-image: url("images/bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow: hidden;
 }

 #clock-bg {
  
  background-color: rgba(255, 255, 255, 0.148);
  padding: 4rem 4rem; 
  border-radius: 6px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 16px;
 }

 .clock {
   margin: auto;
   width: 300px;
   height: 300px;
   background-color: rgba(39, 39, 39, 0.795);
   border-radius: 50%;
   border: 2px solid black;
   position: relative;
 }

 .clock .number {
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   transform: rotate(calc(30deg * var(--i)));
   font-size: 1.5rem;
 }

 .clock .number b {
  color: white;
  font-size: 2rem;
  opacity: 1.25;
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
 }

 /* .clock .number1 {
   --rotation: 30deg;
 }

 .clock .number2 {
   --rotation: 60deg;
   
 }

 .clock .number3 {
   --rotation: 90deg;
 }

 .clock .number4 {
   --rotation: 120deg;
 }

 .clock .number5 {
   --rotation: 150deg;
 }

 .clock .number6 {
   --rotation: 180deg;
 }

 .clock .number7 {
   --rotation: 210deg;
 }

 .clock .number8 {
   --rotation: 240deg;
 }

 .clock .number9 {
   --rotation: 270deg;
 }

 .clock .number10 {
   --rotation: 300deg;
 }

 .clock .number11 {
   --rotation: 330deg;
 } */

 .clock .hand {
   --rotation: 0;
   position: absolute;
   bottom: 50%;
   left: 50%;
   background-color: rgb(255, 231, 231);
   border: 1px solid rgba(255, 231, 231, 0.806);
   border-top-left-radius: 70%;
   border-top-right-radius: 70%;
   transform-origin: bottom;
   z-index: 10;
   transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
 }

 .clock::after {
   content: '';
   position: absolute;
   background-color: black;
   z-index: 11;
   width: 15px;
   height: 15px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
 }

 .clock .hand.second {
   width: 3px;
   height: 45%;
   background-color: rgba(189, 189, 189, 0.377);
 }

 .clock .hand.minute {
   width: 7px;
   height: 25%;
   background-color: black;
 }

 .clock .hand.hour {
   width: 10px;
   height: 35%;
   background-color: black;
 }